Options -Indexes -MultiViews +FollowSymLinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteRule ^([a-z]{5,9})$ web.php?action=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9]+)$ auth.php?token=$1 [QSA,L]
RewriteRule .* web.php [L]
