Options -Indexes -MultiViews +FollowSymLinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteRule ^([a-z]{5,9})$ web.php?action=$1 [QSA,L]
RewriteRule ^get$ auth.php [QSA,L]
RewriteRule .* web.php [L]
